*Exercise 2: Create markdown cell with title of the notebook*

# Data Science Tools and Ecosystem

*Exercise 11 - Create a markdown cell to indicate the Author's name*

## Author
Niklas

*Exercise 3 - Create a markdown cell for an introduction*

### In this notebook, Data Science Tools and Ecosystem are summarized.

*Exercise 10 - Insert a markdown cell to list Objectives*

**Objectives:**
- popular data science languages
- commonly used libraries
- data science tools
- examples of arithmetic expressions in python

*Exercise 4 - Create a markdown cell to list data science languages*

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL
5. Scala
6. MATLAB
7. Java

*Exercise 5 - Create a markdown cell to list data science libraries*

##### Some of the commonly used libraries used by Data Scientists include:
###### Python:
1. **NumPy**: arrays and matrices
2. **TensorFlow / PyTorch**: Deep learning (neural networks)
3. **Matplotlib**: visualizations
4. **pandas**: data analysis of structured data
5. **scikit-learn**: Machine learning library - data mining and data analysis
6. **SciPy**: Open-source library used for scientific and technical computing

###### R:
1. **ggplot2**: A plotting system based on the grammar of graphics, allowing for highly customizable graphics.
2. **dplyr**: Provides a set of tools for efficiently manipulating datasets in R.
3. **caret**: Contains functions for training and plotting classification and regression models.
4. **lubridate**: Makes it easier to work with date-time data in R.
5. **tidyr**: Helps tidy messy datasets by reorganizing them into a consistent structure.

###### SQL:
1. **SQLAlchemy**: SQL toolkit and Object-Relational Mapping (ORM) library for Python.
2. **pandasql**: Allows Python users to run SQL queries on pandas DataFrame objects.
3. **Apache Spark SQL**: Part of the Apache Spark ecosystem, enabling querying structured data using SQL syntax.

*Exercise 6 - Create a markdown cell with a table of Data Science tools*

| Data Science Tools |
| - |
| PyCharm |
| Spyder |
| R Studio |
| Anaconda |
| Apache Hadoop |
| Apache Spark |
| Tableau |
| Power BI |

*Exercise 7 - Create a markdown cell introducing arithmetic expression examples*

### Below are a few examples of evaluating arithmetic expressions in Python:

*Exercise 8 - Create a code cell to multiply and add numbers*

In [72]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

*Exercise 9 - Create a code cell to convert minutes to hours*

In [77]:
# This will convert 200 minutes to hours by diving by 60
min = 200
min_to_h = min/60
print(min_to_h)

3.3333333333333335